*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(36, 120, 131), rgb(37, 47, 104));
    font-family: sans-serif;
    color: white;
}
.locacion, 
.temperatura {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperatura{
    flex-direction: column;
}

.grados-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.grados-section span{
    margin: 10px;
    font-size: 30px;
}
.grados-section h2{
    font-size: 40px;
}